@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  /* background-color: #2c2f3a; */
  /* ya koi dark shade jo aapko pasand ho */
  color: white;
  /* text ke liye */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
    /* prevent horizontal scroll */
}

/* src/index.css */
html {
  scroll-behavior: smooth;
}
